.App {
  text-align: center;
}

.listOfCountries {
  display: inline-block;
  width: 25%;
  height: 400px;
  overflow-y: scroll;
}
.Info-block{
  display: inline-block;
  vertical-align: top;
  width: 75%;
  height: 400px;
  background: gainsboro;
}

.border{
  margin-left: 10%;
  display: flex;
}
.flag{
  width: 20%;
  float: right;
  margin-top: -13%;
  margin-right: 10px;
}